@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
h1 {
  font-family: "Ubuntu";
  font-size: 32;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: normal;
  color: #212121;
}

h2 {
  font-family: "Ubuntu";
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: normal;
  color: #212121;
}

.h2regular {
  font-family: "Ubuntu";
  font-size: 24px;
  font-weight: regular;
  line-height: 1.5;
  letter-spacing: normal;
  color: #212121;
}

h3 {
  font-family: "Ubuntu";
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: normal;
  color: #212121;
}

h4 {
  font-family: "Ubuntu";
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: normal;
  color: #212121;
}

h5 {
  font-family: "Ubuntu";
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: normal;
  color: #5e5e5e;
}

.subtitle {
  font-family: "Ubuntu";
  font-size: 16px;
  font-weight: 16px;
  line-height: 1.5;
  letter-spacing: normal;
  color: #212121;
}

.headline-all-caps {
  font-family: "Ubuntu";
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: normal;
  color: #212121;
}

.label-wmd-xl {
  font-family: "Ubuntu";
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.25;
  size: 18px;
  color: #212121;
}

.label-wmd-l {
  font-family: "Ubuntu";
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.25;
  size: 16px;
  color: #212121;
}

.label-wmd-m {
  font-family: "Ubuntu";
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.25;
  size: 14px;
  color: #212121;
}

.label-wmd-s {
  font-family: "Ubuntu";
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.25;
  size: 12px;
  color: #212121;
}

.label-wr-xl {
  font-family: "Ubuntu";
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.25;
  size: 18px;
  color: #212121;
}

.label-wr-l {
  font-family: "Ubuntu";
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.25;
  size: 16px;
  color: #212121;
}

.label-wr-m {
  font-family: "Ubuntu";
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.25;
  size: 14px;
  color: #212121;
}

.label-wr-s {
  font-family: "Ubuntu";
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.25;
  size: 12px;
  color: #212121;
}

.body-xl {
  font-family: "Source Sans 3";
  font-weight: 400;
  line-height: 150%;
  letter-spacing: normal;
  size: 18px;
  color: #5e5e5e;
}

.body-xl-bold {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: normal;
  size: 18px;
  color: #5e5e5e;
}

.body-l {
  font-family: "Source Sans 3";
  font-weight: 400;
  line-height: 150%;
  letter-spacing: normal;
  size: 16px;
  color: #5e5e5e;
}

.body-m {
  font-family: "Source Sans 3";
  font-weight: 400;
  line-height: 150%;
  letter-spacing: normal;
  size: 14px;
  color: #a3a3a3;
}

.body-s {
  font-family: "Source Sans 3";
  font-weight: 400;
  line-height: 150%;
  letter-spacing: normal;
  size: 14px;
}

.caption {
  font-family: "Source Sans 3";
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  size: 12px;
}

.caption-s {
  font-family: "Source Sans 3";
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  size: 12px;
}

.caption-l {
  font-family: "Source Sans 3";
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  size: 12px;
}

.caption-m {
  font-family: "Source Sans 3";
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  size: 10px;
}

.overline {
  font-family: "Source Sans 3";
  font-weight: 400;
  line-height: normal;
  letter-spacing: 5%;
  size: 10px;
}

.about-icon {
  width: 62px;
  height: 62px;
}

.red-button {
  background: linear-gradient(0deg, #E42313, #E42313);
  border: 1px solid #961206;
  box-shadow: 0px 4px 8px 0px #FF736C;
  color: #FFFFFF;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 16px;
  gap: 10px;
  min-width: 152px;
}

.white-button {
  background: #FFFFFF;
  border: 1px solid #E42313;
  color: #E42313;
  padding: 16px 30px;
  border-radius: 10px;
  font-size: 16px;
  gap: 10px;
  min-width: 152px;
}

.icon {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.icon-big {
  width: 80px;
  height: 80px;
}

.picture {
  width: 56px;
  height: 56px;
}

.red-header, .red-subtitle {
  color: #E42313;
}

.header {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 75px;
}

.navbar {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.0901960784);
}
.navbar .logo {
  max-height: 50px;
}
.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline-start: 0;
}
.navbar ul .nav-item {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.banner {
  background-image: url(../images/illustrations/banner2.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.about {
  background-image: url(../images/illustrations/BGstatis.png);
  background-size: cover;
  width: 100%;
  min-height: 236px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .row {
  padding: 20px 0px;
}
.about .row .col-md-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.keuntungan {
  background-image: url(../images/illustrations/BGlayanan.png);
  background-size: cover;
  width: 100%;
  min-height: 761px;
}
.keuntungan .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.keuntungan .container .col-md-11 .row .col-md-6 {
  padding-bottom: 50px;
}

.solusi {
  background-image: url(../images/illustrations/BGsolusi.png);
  background-size: cover;
  width: 100%;
  min-height: 761px;
  padding-bottom: 50px;
}
.solusi .container {
  display: flex;
  justify-content: center;
}
.solusi .container .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.testimoni {
  background-color: #FFFFFF;
  padding-bottom: 50px;
}
.testimoni .container {
  display: flex;
  justify-content: center;
}
.testimoni .container .card {
  background-color: #f5f5f9;
  border-style: none;
}
.testimoni .container .card .card-img {
  text-align: center;
  position: relative;
}
.testimoni .container .card .card-img .quote-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(80%, -150%);
}
.testimoni .container .card .card-title {
  text-align: center;
  color: #5e5e5e;
}
.testimoni .container .card .card-title .testimoni-description {
  font-family: "Source Sans 3";
  font-weight: 700;
  color: #a3a3a3;
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
}

.berita {
  width: 100%;
}
.berita .container .col-md-10 .card {
  background-color: #f5f5f9;
  border-style: none;
}
.berita .container .col-md-4 .card {
  background-color: #f5f5f9;
}
.berita .container .col-md-4 .card card-body {
  display: flex;
}

footer {
  background-image: url(../images/illustrations/BGfooter.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 315px;
  width: 100%;
  color: #FFFFFF;
}
footer .container img {
  width: 100px;
  height: 103px;
  margin-right: 10px;
}

@media (max-width: 767px) {
  .footer .row {
    text-align: center;
  }
}
.copyright {
  background-color: #3a3a3b;
  text-align: center;
}
.copyright .row {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=index.css.map */