@import 'style';
.container-form {
    background-color: $graybg;
    margin-top: 8rem;
}

.modal-content {
    background-color: $graybg;
    img {
        width: 180px;
        height: 180px;
    }
}